html, body {

  margin: 0; /* Removes default margins */

  height: 100%; /* Ensures both html and body cover the full screen */

}



body {

  background-image: url('https://marketplace.canva.com/EAGTv-YTh8Q/1/0/1600w/canva-red-and-brown-aesthetic-vision-board-photo-collage-christmas-desktop-wallpaper-vjuDlx_s3Fw.jpg');

  background-size: cover; /* Ensures the image scales to cover the entire area */

  background-repeat: no-repeat; /* Prevents repeating */

  background-position: center; /* Centers the image */

  font-family: Calibri;

  color: #ADD8E6;

}

